a{
	text-decoration: none;
	color: grey;
}

body{
	max-width: 100%;
	background: #eeeeee;
}

.starter{
	width: 100%;
	margin: 0 auto;
}


header{
	height: 20px;
	float: left;
	text-align: center;
	background: #55A6A7;
	color: white;
	width: 15%;
	padding: 12px;
	margin-left: 100px;
	margin-top: 0;
}

h1{
	font-size: 20px;
}

nav{
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	margin-top: 0px;
	text-align: right;
	background: #FCFFFD;
	width: 100%;
	color: grey: ;
	padding: 14px;
	border-bottom: grey 2px solid;
}

ul{
	list-style-type: none;
	margin-right: 40px;
}

li{
	display: inline;
}

.container{
	margin: 0 auto;
	width: 960px;
	height: 100%;
}

h2{
	margin-top: -30px;
	font-color: #6BA4A6;
	font-size: 20px;
	font-weight: bold;
}

#main-bio{
	position: relative;
	box-sizing: border-box;
	width: 650px;
	padding: 50px;
	background: white;
	float: left;
	color: #72A5A0;
	position: none;
	margin-bottom: 100px;
}

.box{
	text-align: center;
	box-sizing: border-box;
	width: 220px;
	height: 40px;
	padding: 10px;
	background: teal;
	color: white;
}

.box1{
	position: absolute;
	top:170px;
}

.box2{
	position: absolute;
	top:170px;
	left:300px;
}

.box3{
	position: absolute;
	top: 355px;
}

.box4{
	position: absolute;
	top: 355px;
	left: 300px;
}

.box5{
	position: absolute;
	top: 545px;
}

#pro-pic{
	margin-right: 20px;
	width: 150px;
	height: 150px;
	float: left;
	position: none;
}

.port{
	margin-bottom: 20px;
	margin-right: 30px;
	float: left;
	box-sizing: border-box;
	width: 40%;
}

form{	
	color: black;
}

input[type=text], select, textarea{
	margin-top: 10px;
	margin-bottom: 14px;
	padding: 10px;
	border: 1px solid grey;
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
}

#msg{
	height: 100px;
}

input[type=submit]{
	background: #55A6A7;
	color: white;
	border-style: none;
}

aside{
	position: none;
	background: white;
	width: 270px;
	height: 200px;
	float: right;
}

h3{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 24;
	font-weight:bold;
	text-align: center;
	color: #6BA4A6;
}

#dumb{
	width: 250px;

}

.links{
	margin-left: 20px;
	margin-top: 40px;
}

#social{
	width: 75px;
}

#social2{
	width: 75px;
}

#social3{
	width: 75px;
}


footer{
	font-size: 10px;
	color: white;
	height: 10px;
	background: blue;
	text-align: center;
	bottom: 0;
	margin: 0 auto;
	background: grey;
	padding: 10px;
	width:100%;
	height: 10px;
	position: fixed;
	border-top: #55A6A7 5px solid;
}

